In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection_string = "postgres:postgres@localhost:5432/Energy_db"
engine = create_engine(f'postgresql://{connection_string}')

In [3]:
engine.table_names()

['emissions', 'consumption']

In [4]:
new_emissions = pd.read_sql(con=engine, sql="SELECT * from emissions")

In [5]:
new_emissions.head()

Empty DataFrame
Columns: [index, country, element, item, year, unit, value]
Index: []

In [6]:
new_consumption = pd.read_sql(con=engine, sql="SELECT * from consumption")
new_consumption.head()

Empty DataFrame
Columns: [country, year, oil_terrawatt_hours, coal_terrawatt_hours, gas_terrawatt_hours, hydropower_terrawatt_hours, nuclear_terrawatt_hours, solar_terrawatt_hours, wind_terrawatt_hours, other_renewables_terawatt_hours]
Index: []

In [ ]:
new_emissions.dtypes

In [ ]:
new_consumption.dtypes